@{
    ViewBag.Title = "Home Page";
}
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div class="jumbotron" style="background-color:slategray;">
    <h1>Virtual Reality</h1>
    <p class="lead">Learn more about the top VR headsets on the market.</p>
</div>

<div class="row" style="color:darkslategray">
    <div class="col-md-4">
        <h2>Getting started with VR</h2>
        <p><i class="fas fa-clock"></i> Purchase a Headset bundled with an extra item, before time runs out! Discounts on bundled items end March 30th, 2020.</p>
        <p>
            Virtual reality provides a next level aspect to gaming that can be experienced nowhere outside of the current headsets on the market.
            To learn more about the top headsets out on the market right now, click Learn more below this.
        </p>
        <p><a class="btn btn-default" href="/VRHeadsetModels/Index">Learn more &raquo;</a></p> 
    </div>
</div>
<div class="col-md-12">
    <img src="~/Content/rifts.png" />
</div>